body{
    background-color:blueviolet ;
}

button{
    background-color: yellow;
    padding: 20px;
    margin-left: 50%;
}

p{
    background-color: chartreuse;
    margin-left: 50%;
    margin-right: 37%;

}